<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item" style="margin-top:-12px;">
          <a class="nav-link active" routerLink="emp-list">Employee List</a>
        </li>
        <li class="nav-item" style="margin-top:-12px;">
          <a class="nav-link" routerLink="add-emp">Add Employee</a>
        </li>
        <li class="nav-item" style="margin-top:-12px;">
          <a class="nav-link" routerLink="structural-dir">Structural Directive</a>
        </li>
        <li class="nav-item" style="margin-top:-12px;">
          <a class="nav-link" routerLink="attribute-dir">Attribute Directive</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Forms
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="template-form">template</a></li>
            <li><a class="dropdown-item" routerLink="reactive-form">reactive</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            APIs
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="get-api">Get-API</a></li>
            <li><a class="dropdown-item" routerLink="post-api">Post-API</a></li>
          </ul>
        </li>
        <li class="nav-item" style="margin-top:-12px;">
          <a class="nav-link" routerLink="pub-sub">pub-sub</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>